body{

background-color: blueviolet;
color: white;
font-family: 'Pacifico', sans-serif;
display:flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;


}

button{

    background-color: white;
    color: rgb(163, 78, 189);
    font-family: 'Pacifico', sans-serif;

}

.passo{

    display: none;

}

.passo.ativo{

    display: block;
}

main{

    max-width: 90%;
    text-align: center;
}

img{

    max-width: 90%;
}